body {
    background-image: url("https://raw.githubusercontent.com/Ankush-De/3179/main/Data_Vis_2/data/background_3.jpg");
    background-repeat: repeat;
    background-color: #9e9d9d;
    }

@front-face {
    font-family: custom_font;
    src: url("C:\Users\ankus\Downloads\fifa-welcome-cufonfonts");
    }

h1 {
    background-color: #80ced6;
    font-family: custom_font;
    height: 50px;
  }
  

span {
    background-color: #f18973;
  }
