body {
    background-image: url("https://raw.githubusercontent.com/Ankush-De/3179/main/Data_Vis_2/data/background_3.jpg");
    background-repeat: repeat;
    background-color: #9e9d9d;
    }

    @font-face {
        font-family: customFont;
        src: url(font/fifa_font.ttf);
    }

h1 {
    background-color: #80ced6;
    height: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

p {
    font-family: customFont;
}
  
